<?xml version="1.0"?>
<launch>
	<arg name="DEFAULT_PATH" default="$(find tiago_skin)/configs"/>

	<node name="$(anon full_config_test)" 
		pkg="tum_ics_skin_full_config" 
		type="full_config" 
		args="$(arg DEFAULT_PATH)"
		output="screen">

    <rosparam file="$(find tiago_skin)/launch/configs/base_frame_list.yaml" command="load" />
    <rosparam file="$(find tiago_skin)/launch/configs/skin_driver_ns_list.yaml" command="load" />

	</node>


</launch>


